body {
    height: 100vh;
    /* font-size: 24px; */
    background-image: url("../img/aibackground.jpg");
}

h2{
	text-align: center;
}

.starter-template {
  text-align: center;
}

.container {
    height: 100vh;
    min-height: 100vh;
}

.row{
    margin: 0px;
    padding: 1em;
}

.content{
    height: 100%;
    min-height: 100%;
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    overflow-x: scroll;
    margin: 10%;
}

