{% extends "template.html" %}
{% block title %}About{% endblock %}
{% block content %}
	<h2>About</h2>
	<p>We propose developing materials to communicate fundamental AI and ML concepts to an educated but nontechnical audience.</p>
	<p>If we want nontechnical stakeholders to respond to AI developments in an informed way, we must help them acquire an understanding of AI and ML.</p>
	<p>Explanations involving advanced math will not reach many people who need to make informed decisions about AI.</p>
	<p><em>This website is a work in progress. If you can contribute in any way (writing/reviewing/editing content, funding, design and development, etc.), please contact <a href="mailto:mccarl@law.ucla.edu">Ryan McCarl</a></em></p>
{% endblock %}
