{% extends "template.html" %}
{% block title %}AI without the math{% endblock %}
{% block content %}
	<p style="text-align: center; font-style: italic; font-size: 12pt">This website is a work in progress and a rough prototype of what is to come. If you can contribute to this resource in any way (content, design, funding, publicity), please contact <a href="mailto:mccarl@law.ucla.edu">Ryan McCarl</a>.</p>
	<br>
	<h2>Concepts and articles</h2>
	<br>
	<p>Why not start with our simple <a href="{{ url_for('dynamicpath', page='ai') }}">explainer</a>?</p>
	<br>
	<form class="form-inline input-lg" method="post">
		<input type="text" name="query" placeholder="Search articles">
	</form>
	<br>
	<ul>
		<li><a href="{{ url_for('dynamicpath', page='clustering') }}">Clustering</a></li>
		<li><a href="{{ url_for('dynamicpath', page='cnn') }}">Convolutional neural networks</a></li>
		<li><a href="{{ url_for('dynamicpath', page='cross-validation') }}">Cross-validation</a></li>
		<li><a href="{{ url_for('dynamicpath', page='expert systems') }}">Expert systems</a></li>
		<li><a href="{{ url_for('dynamicpath', page='kernels') }}">Kernels</a></li>
		<li><a href="{{ url_for('dynamicpath', page='linear regression') }}">Linear regression</a></li>
		<li><a href="{{ url_for('dynamicpath', page='mlprocess') }}">Machine learning process</a></li>
		<li><a href="{{ url_for('dynamicpath', page='naive bayes') }}">Naive Bayes algorithm</a></li>
		<li><a href="{{ url_for('dynamicpath', page='neural networks') }}">Neural networks</a></li>
		<li><a href="{{ url_for('dynamicpath', page='rational agent') }}">Rational agents</a></li>
		<li><a href="{{ url_for('dynamicpath', page='rnn') }}">Recurrent neural networks</a></li>
		<li><a href="{{ url_for('dynamicpath', page='topquestions') }}">Top questions to ask AI/ML developers</a></li>
	</ul>
{% endblock %}
